<div class="container clear">
		    <a href="#" class="h-img"><img src="images/logo.png" alt=""></a>
			<ul class="clear h-main">
				<li><a href="index.html"style="color: #FFE100;">首页</a></li>
				<li><a href="college.html">股票学院</a></li>
				<li><a href="download.html">下载</a></li>
				<li><a href="help.html">帮助</a></li>
				<li><a href="about.html">关于</a></li>
		
				<li><a href="signup.html" class="peoplecenter" style="color: #FFE100;">个人中心</a></li>
				<li><a href="login.html" class="new">马上开户</a></li>
				<li>
					<a href="#" class="language">Language<br> 简体中文-</a>
				</li>
				<li class="chioceLanguage">
					<a href="#">繁体中文</a> <br>
					<a href="#">English</a>
				</li>
				
			</ul>
		</div>