.signup {
  position: relative;
  width: 100%;
  min-height: 650px;
}
.signup .box {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  max-width: 350px;
  width: 100%;
  padding: 0 15px;
}
.signup .box h1 {
  margin-bottom: 30px;
}
.signup .box h1 img {
  display: block;
  height: 40.5px;
  margin: 0px auto;
}
.signup .box .phone input,
.signup .box .phone select {
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  box-sizing: border-box;
}
.signup .box .phone .tel input {
  float: right;
}
.signup .box .phone .password input {
  margin-top: 20px;
  width: 100%;
}
.signup .box .forget {
  font-size: 12px;
  margin: 8px 0px 20px;
}
.signup .box .forget span {
  float: right;
  cursor: pointer;
  color: #4e97fa;
}
.signup .box .forget a {
  color: #555;
}
.signup .box .loginbtn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #e6cb00;
  color: #333;
  border: 1px solid #ffe100;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}
